node-red-flows/node-flow-starting-point-watson-assistant.json
[
    {
        "id": "b04bfb0f.2ded18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7d76e943.146f",
        "type": "inject",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "topic": "",
        "payload": "hi",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a1f2999d.65c5f8"
            ]
        ]
    },
    {
        "id": "a1f2999d.65c5f8",
        "type": "watson-conversation-v1",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "workspaceid": "070d64f6-04a4-4f8b-8665-d92716bebea0",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": false,
        "service-endpoint": "https://gateway-fra.watsonplatform.net/assistant/api",
        "timeout": "",
        "optout-learning": false,
        "x": 383,
        "y": 281,
        "wires": [
            [
                "618ad41a.d1113c"
            ]
        ]
    },
    {
        "id": "1fba4078.f6a8d",
        "type": "ibmiot in",
        "z": "b04bfb0f.2ded18",
        "authentication": "apiKey",
        "apiKey": "832a1388.1a6ed",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "hackathon",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 107.5,
        "y": 413,
        "wires": [
            [
                "48080a37.5f4e9c"
            ]
        ]
    },
    {
        "id": "48080a37.5f4e9c",
        "type": "debug",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 262,
        "y": 414,
        "wires": []
    },
    {
        "id": "4d2cf277.21741c",
        "type": "http response",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 740,
        "y": 283,
        "wires": []
    },
    {
        "id": "a1aef58c.edd748",
        "type": "change",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.chat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 195,
        "y": 218,
        "wires": [
            [
                "a1f2999d.65c5f8"
            ]
        ]
    },
    {
        "id": "19a8d83f.cfc978",
        "type": "link in",
        "z": "b04bfb0f.2ded18",
        "name": "WA",
        "links": [
            "ec4c8519.2ad698"
        ],
        "x": 62,
        "y": 120,
        "wires": [
            [
                "a1aef58c.edd748"
            ]
        ]
    },
    {
        "id": "618ad41a.d1113c",
        "type": "change",
        "z": "b04bfb0f.2ded18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 557,
        "y": 282,
        "wires": [
            [
                "4d2cf277.21741c"
            ]
        ]
    },
    {
        "id": "832a1388.1a6ed",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "lt9l36.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]